<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"asp-area="" asp-controller="Home" asp-action="Index">Car Dealership</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-item nav-link" asp-area="" asp-controller="Customer" asp-action="Index">Customers</a>
            <a class="nav-item nav-link" asp-area="" asp-controller="SalesPerson" asp-action="Index">Sales Persons</a>
            <a class="nav-item nav-link" asp-area="" asp-controller="CarPurchase" asp-action="Index">Car Purchases</a>
            <a class="nav-item nav-link" asp-area="" asp-controller="Car" asp-action="Index">Cars</a>
        </div>
    </div>
</nav>