@{ 
    var currentYear = DateTime.Now.Year;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Car Dealership</title>
    
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @await Html.PartialAsync("_Header")

    <main class="container">
        @RenderBody()
        <hr />
    </main>

    <footer>
        <div class="container">
            <p>&copy; @currentYear - Car Dealership</p>
        </div>
    </footer>

    @await Html.PartialAsync("_CookieConsentPartial")

    <environment include="Development">
        <script src="~/lib/jquery/jquery.slim.js" asp-append-version="true"></script>
        <script src="~/lib/popper/popper.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.slim.min.js" asp-append-version="true"></script>
        <script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
