@model CarDealership.Domain.ReadModels.SalesPerson

@{
    ViewData["Title"] = Model.Name;
}

<div class="card mb-3">
    <div class="card-body">
        <div class="text-center">
            <i class="fas fa-address-card fa-10x"></i>
        </div>
        <h5 class="card-title">Sales Person</h5>

        <dl>
            <dt>Name</dt>
            <dd>@Model.Name</dd>
            <dt>Address</dt>
            <dd>@Model.Address</dd>
            <dt>Title</dt>
            <dd>@Model.JobTitle</dd>
        </dl>
    </div>
</div>

@if (Model.Sales.Any())
{
    <h5>Number of Cars Sold: @Model.Sales.Count</h5>
    foreach (var sale in Model.Sales)
    {
        @await Html.PartialAsync("_CarPartial", new CarPartialViewModel
        {
            Car = sale.Car,
            Customer = sale.Customer,
            OrderDate = sale.OrderDate,
            SalesPerson = Model,
            SoldFor = sale.PricePaid
        })
    }
}